<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RIA DigiDoc</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>digidoc_64.png</string>
				<string>digidoc_320.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Digidoc file</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>2d09fce02bca92bd26f18824f9cb302f5ad625e3</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth card reader is used to read data from ID card</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth card reader is used to read data from ID card</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Condensed.ttf</string>
		<string>Roboto-CondensedItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.ftsafe.bR301</string>
		<string>com.ftsafe.iR301</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.bdoc</string>
				<string>public.ddoc</string>
				<string>public.edoc</string>
				<string>public.adoc</string>
				<string>public.asice</string>
			</array>
			<key>UTTypeDescription</key>
			<string>digidoc container</string>
			<key>UTTypeIdentifier</key>
			<string>public.bdoc</string>
			<key>UTTypeSize320IconFile</key>
			<string>digidoc_320.png</string>
			<key>UTTypeSize64IconFile</key>
			<string>digidoc_64.png</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>ee.ria.bdoc</key>
				<string>bdoc</string>
				<key>public.filename-extension</key>
				<array>
					<string>adoc</string>
					<string>bdoc</string>
					<string>ddoc</string>
					<string>edoc</string>
					<string>asice</string>
					<string>sce</string>
					<string>asics</string>
					<string>scs</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
