<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RIA DigiDoc</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DigiDoc file asice</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-asice</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DigiDoc file bdoc</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-bdoc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DigiDoc file edoc</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-edoc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DigiDoc file sce</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-sce</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DigiDoc file p12d</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-p12d</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DigiDoc file cdoc</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-cdoc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DigiDoc file adoc</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-adoc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DigiDoc file ddoc</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-ddoc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DigiDoc file asics</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-asics</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DigiDoc file scs</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-scs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Zip file</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-zip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Xml file</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.digidoc-xml</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>digidoc_1024</string>
			<key>CFBundleURLName</key>
			<string>ee.ria.digidoc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>digidoc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>id.test.eesti.ee</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>repo.ria</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth card reader is used to read data from ID card</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth card reader is used to read data from ID card</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Condensed.ttf</string>
		<string>Roboto-CondensedItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.ftsafe.bR301</string>
		<string>com.ftsafe.iR301</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container asice</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-asice</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asice</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container bdoc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-bdoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bdoc</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container edoc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-edoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>edoc</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container sce</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-sce</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sce</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container p12d</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-p12d</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>p12d</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container cdoc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-cdoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdoc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-cdoc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container adoc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-adoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>adoc</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container ddoc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-ddoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ddoc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-ddoc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container asics</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-asics</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asics</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container scs</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-scs</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scs</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zip</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-zip</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zip</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xml</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc-xml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xml</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.asice</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container asice</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asice</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.bdoc</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc Container bdoc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bdoc</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.cdoc</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Digidoc Container cdoc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdoc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-cdoc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.adoc</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Digidoc Container adoc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>adoc</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.ddoc</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Digidoc Container ddoc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ddoc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-ddoc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.edoc</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Digidoc Container edoc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>edoc</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.sce</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Digidoc Container sce</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sce</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.asics</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Digidoc Container asics</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asics</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.scs</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Digidoc Container scs</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scs</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>digidoc_76.png</string>
				<string>digidoc_1024.png</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.p12d</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Digidoc Container p12d</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>p12d</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.zip</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zip</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zip</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xml</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.digidoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
